@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat&display=swap');
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  /*font-family: "Open Sans" !important;*/
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Merienda One', cursive;*/
}
.about {
  width: 100%;
  /*background-color: rgba(138, 43, 226, 0.7);*/
  background-color: rgba(32, 30, 34, 0.7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 20px;
}
.arrow {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
.arrow:hover {
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
#project-h1{
  font-family: 'Merienda One', cursive;
  position: absolute;
  top: 107rem;
  font-size: 4rem;
  color: white;
  background-color: transparent;
}
#timeline-h1{
  font-family: 'Merienda One', cursive;
  position: absolute;
  top: 159rem;
  font-size: 4rem;
  color: white;
  background-color: transparent;
  z-index: 9;
}
.blogpost{
  border: 2px solid white;
  cursor: pointer;
  
}
.blogpost > img {
  height: 15rem;
  padding: 10px 0px;
}
.blogpost > h2 {
 margin: 5%;
}
.blogs > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#blogs-h1{
  font-family: 'Merienda One', cursive;
  width: 100%;
  position: absolute;
  top: 214.5rem;
  font-size: 4rem;
  color: white;
  background-color: transparent;
  z-index: 9;
}
.buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 15rem;
}
.buttons > button {
  font-family: "Open Sans";
  height: 30px;
  width: auto;
  border: none;
  font-weight: 500;

  cursor: pointer;
}
.live {
  background-color: rgb(12, 175, 12);
  color: white;
}
.shiftRight {
  animation-name: example;
  animation-duration: 500ms;
}
@keyframes example {
 
  0% {
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(1);
  }
  50% {
    background-color: rgba(32, 30, 34, 0.7);
    transform: scale(0.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(1);
  }
}
.experience{
  width: 100%;
  background-color: rgba(81, 36, 122, 0.3);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
}
.hr{
  height:5px;
  width:60px;
  background-color: red;
  border: none;
  transform: rotate(90deg);
  position: absolute;
}
.source {
  background-color: rgb(231, 28, 28);
  color: white;
}
.carousal {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  transition: all;
  /* padding-left: 10px;
  padding-left: 10px;*/
  align-items: center;
  cursor: pointer;
}

.carousal > h4 {
  width: 300px;
}
.carousal > img {
  height: 300px;
}
.projects {
  width: 100%;
  background-color: rgba(32, 30, 34, 0.7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-top: 10%;
  padding-bottom: 10%;
}
.blogs {
  width: 100%;
  background-color: rgba(32, 30, 34, 0.7);
  align-items: center;
  /*display: flex;
  justify-content: space-evenly;*/
  align-items: center;
  /*flex-direction: row;*/
  padding-top: 10%;
  padding-bottom: 10%;
}
.about-main {
  width: 100%;
  background-color: rgba(32, 30, 34, 0.3);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
}
.about > div {
  width: 500px;
  color: #fff;
  font-weight: 500;
  padding: 30px 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.homepage-div {
  /*background-color: rgb(138, 43, 226);*/
  background: url("./assets/background.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size:100%;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #fff;
}
.homepage-div > button,
.about > div > button {
  background-color: #fff;
  font-family: "Open Sans";
  height: 50px;
  width: auto;
  border: none;
  font-weight: 500;
  border-radius: 10%;
  cursor: pointer;
}
.about > div > button:hover {
  background-color: rgba(32, 30, 34, 0.7);
  border: 1px solid white;
  color: white;
}
.homepage-div > button:hover {
  background-color: rgba(32, 30, 34, 0.7);
  border: 1px solid white;
  color: white;
}
.img {
  height: 200px;
  border-radius: 50%;
  border: 5px solid rgb(245, 177, 51);
}
.percentage {
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
}
.perc {
  display: flex;

  flex-direction: row;
  width: 60rem;
  border-radius: 5px;
  height: 10px;
  background-color: rgba(66, 64, 64, 0.8);
}
.perc > div {
  position: relative;
  border-radius: 5px;
  height: 10px;
  z-index: 999;
}
.percentage > h3 {
  text-align: left;
}
.percent-div {
  background-color: rgba(32, 30, 34, 0.7);
  
  padding-top: 5%;
  margin-top: 5%;
  padding-bottom: 5%;
  border-radius: 20px;
}
.timeline {
  position: relative;
  /*max-width: 1200px;*/
  margin: 0 auto;
  width: 100%;
  background-color: rgba(32, 30, 34, 0.3);
  display: flex;
  justify-content: space-evenly;
  /*align-items: center;*/
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 10%;
  
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  margin: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 40%;
  border-radius: 20px;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -60px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 4%;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0px;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: -20px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: -20px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -60px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: rgba(32, 30, 34, 0.7);
  position: relative;
  border-radius: 10px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}