.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(138, 43, 226);
  height:500px;
  font-family: 'Open Sans' !important;
  
}
.homepage-div {

padding-top:5%;
color: #fff;
}
.homepage-div > button{
 background-color: #fff;
 font-family: 'Open Sans';
 height:50px;
 width: 70px;
 border: none;
 font-weight: 500;
 border-radius: 10%;
 cursor: pointer;

 }
 .homepage-div > button:hover{
   background-color: rgba(138, 43, 226, 0.3);
   border: 1px solid white;
   color: white;
 }
.img{
  height: 200px;
  border-radius: 50%;
  border: 1px solid blue;
}